[Unit]
Description=Servico de Alerta de Temperatura (Elasticsearch Monitor)
After=network.target docker.service

[Service]
Type=simple
User=root
# Onde o script vai ficar no destino
ExecStart=/usr/bin/python3 /opt/monitorizacao/alert_system.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
