input {
  http {
    host => "0.0.0.0"
    port => 5044
    

    ecs_compatibility => "disabled"


    user => "elastic"
    password => "changeme"

    codec => json {
      target => "python_event"
    }
  }
}

filter {

  mutate {
    rename => { "[python_event][source]" => "[sensor][source]" }
    rename => { "[python_event][device]" => "[sensor][device]" }
    rename => { "[python_event][topic]"  => "[sensor][topic]" }
    rename => { "[python_event][ingested_at]" => "ingested_at" }
    

    rename => { "[python_event][payload]" => "payload_data" }
  }


  if [payload_data][temperature] {
    mutate {
      add_field => { "temperature" => "%{[payload_data][temperature]}" }
    }
    mutate {
      convert => { "temperature" => "float" }
    }
  }

  if [payload_data][humidity] {
    mutate {
      add_field => { "humidity" => "%{[payload_data][humidity]}" }
    }
    mutate {
      convert => { "humidity" => "float" }
    }
  }


  if [payload_data][linkquality] {
    mutate {
      add_field => { "link_quality" => "%{[payload_data][linkquality]}" }
    }
    mutate {
      convert => { "link_quality" => "integer" }
    }
  }

  if [payload_data][battery] {
    mutate {
      add_field => { "battery" => "%{[payload_data][battery]}" }
    }
    mutate {
      convert => { "battery" => "integer" }
    }
  }

  mutate {
    remove_field => [
      "python_event", 
      "headers", 
      "event", 
      "host", 
      "@version",
      "url",
      "user_agent",
      "http",
      "payload_data" # Removemos o bruto depois de extrair o que queríamos
    ]
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "salalimpa-%{+YYYY.MM}"
    user => "elastic"
    password => "changeme"
  }

  # Mantemos o stdout para veres no terminal se está a funcionar
  stdout {
    codec => rubydebug
  }
}
