version: "3.9"

services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:latest
    container_name: zigbee2mqtt
    restart: unless-stopped
    depends_on:
      - mosquitto
    volumes:
      - /opt/iot_stack/zigbee2mqtt/data:/app/data
    ports:
      - "8080:8080" # Z2M frontend
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0  # your Zigbee dongle path 
    environment:
      - TZ=Europe/London
